In [1]:
num1 = 9
num2= 1
num3=num1+num2
print(num3)

10

In [5]:
import pandas as pd

In [13]:
pd.read_excel(r'C:\Users\Aisha\Desktop\LoadData.xlsx')

    name      Batch   Roll no   Address
0   Allen  python-23        1     Nodia
1     Bob  java-002        23     Delhi
2   Suzan  python-23       45  Banglore
3  Praksh  python-23       25     Delhi

In [7]:
pd.read_csv(r'C:\Users\Aisha\Desktop\DataSet2.csv')

    name  phone number           email
0  Allen       7418522  alen@gmail.com
1  Allen       7418522  alen@gmail.com
2  Allen       7418522  alen@gmail.com
3  Allen       7418522  alen@gmail.com

In [16]:
pd.read_csv(r'‪C:\Users\Aisha\Desktop\DataSet3.tsv')

FileNotFoundError: [Errno 2] File ‪C:\Users\Aisha\Desktop\DataSet3.tsv does not exist: '\u202aC:\\Users\\Aisha\\Desktop\\DataSet3.tsv'

In [17]:
pd.read_csv('https://raw.githubusercontent.com/dsrscientist/dataset1/d3576cee5d6577abc4b042b7bcc16e6bbe299bb4/bikes.csv')

           date  temperature   humidity  windspeed       count
0    2011-01-03     2.716070  45.715346  21.414957  120.000000
1    2011-01-04     2.896673  54.267219  15.136882  108.000000
2    2011-01-05     4.235654  45.697702  17.034578   82.000000
3    2011-01-06     3.112643  50.237349  10.091568   88.000000
4    2011-01-07     2.723918  49.144928  15.738204  148.000000
..          ...          ...        ...        ...         ...
186  2011-07-08    28.187490  63.618656  19.761499  692.000000
187  2011-07-09    29.070524  61.346450  21.121738  702.333333
188  2011-07-10    29.953558  59.074244  22.481976  712.666667
189  2011-07-11    30.836592  56.802038  23.842215  723.000000
190  2011-07-12    32.409522  52.521355  17.987135  662.000000

[191 rows x 5 columns]